workflows/Evaluator-Optimizer.json
{
  "name": "Evaluator-Optimizer",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        320
      ],
      "id": "981a8334-eb38-4496-b9f5-313444dd0a7e",
      "name": "When chat message received",
      "webhookId": "fab30ad7-8a5a-4477-be98-1aa43b92b052"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        752,
        672
      ],
      "id": "50f391d1-dca4-49ed-b19f-f0ebec1c6def",
      "name": "4o mini",
      "credentials": {
        "openAiApi": {
          "id": "JFV8h8FLMK6dxzrL",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\nYou are an expert biography writer. You will receive information about a person, and your job is to create an entire profile using the information they give you. You are allowed to be creative."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -128,
        320
      ],
      "id": "306e3a0c-82ee-424e-944b-427d40918eb9",
      "name": "Biography Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the biography:\n{{ $json.bio }}",
        "options": {
          "systemMessage": "=## Overview\nYou are an expert biography evaluator. Your job is to provide feedback on the biography.\n\n## Criteria\n- Make sure the biography includes a quote from the person. This could be their favorite saying or a piece of advice. It is essential that every biography has a quote.\n- Make sure the biography is light and humorous.\n- Make sure the biography has NO emojis.\n\n## Output\nYou only need to output feedback. If the biography is finished and all the criteria are met, simply output \"Finished\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        464,
        320
      ],
      "id": "4f3ccb8a-6aa0-413f-9f4e-7de54d67c2ae",
      "name": "Evaluator Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d931f3d-b391-4be9-a50a-cc4a73c31b71",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Finished",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e3ab009e-99b9-49c2-9d06-89e4adb7f919",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        320
      ],
      "id": "e8980127-0837-4c89-8093-11730023dfa0",
      "name": "Evaluate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Biography: {{ $('Set Bio').item.json.bio }}\n\nFeedback: {{ $('Evaluator Agent').item.json.output }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert biography revisor. Your job is to take the biography and optimize it based on the feedback."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1152,
        384
      ],
      "id": "e762bf59-77d6-4c78-91f4-b244cb94a5ad",
      "name": "Optimizer Agent"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/11WTnQSgs0fk61yqg8fPAQeA68OofcrK8JjaeovoKwHQ/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Set Bio').item.json.bio }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1232,
        192
      ],
      "id": "fc7758ae-1c29-4cec-a06d-641ca28a28cc",
      "name": "Push to Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Qxl68vGBqLrBJmEl",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adf17d4d-a89e-4f97-9d31-5e74834428fc",
              "name": "bio",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        320
      ],
      "id": "1a5d945b-fe57-4689-b131-14594c130a4d",
      "name": "Set Bio"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Biography Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4o mini": {
      "ai_languageModel": [
        [
          {
            "node": "Biography Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Evaluator Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Optimizer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Biography Agent": {
      "main": [
        [
          {
            "node": "Set Bio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator Agent": {
      "main": [
        [
          {
            "node": "Evaluate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate": {
      "main": [
        [
          {
            "node": "Push to Docs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Optimizer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimizer Agent": {
      "main": [
        [
          {
            "node": "Set Bio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Bio": {
      "main": [
        [
          {
            "node": "Evaluator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ffec5c5b-85b7-4e37-b692-e6167495e7e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8707be5561da15d1b4c629faa0e4a9a6fdd4bfa66f8eb97220cf29c3050d7d3f"
  },
  "id": "TVfDa7qTYFE0ij34",
  "tags": []
}