workflows/Multi Model Fallback.json
{
  "name": "Multi Model Fallback",
  "nodes": [
    {
      "parameters": {
        "needsFallback": true,
        "options": {
          "systemMessage": "Use fallback model if no result found.",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        144,
        0
      ],
      "id": "8d4014ef-62bf-4fea-83a5-1e001c20e66a",
      "name": "AI Agent",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -432,
        0
      ],
      "id": "d704ca30-ab95-432b-a452-457c8947c8eb",
      "name": "When chat message received",
      "webhookId": "5b680ff8-a893-4bcb-a1b4-9e22f75a6e89"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        224
      ],
      "id": "f6359504-968d-44b3-97ee-f0e690a4e7bf",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        368,
        224
      ],
      "id": "ce97f11e-ec4a-4239-a47c-728dcf45741b",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        496,
        224
      ],
      "id": "9e5b6b6a-737b-495b-9c9e-7641d9e5cf01",
      "name": "Send a message in Gmail",
      "webhookId": "69848b0a-7a32-404e-9561-283bd2bc1927",
      "credentials": {
        "gmailOAuth2": {
          "id": "T38bpfZRuJpN5fRx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        224
      ],
      "id": "a9433521-7f3a-434e-9fa0-dedd20bb2d04",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "JFV8h8FLMK6dxzrL",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "rule": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6cef70fb-8601-495f-84f3-80007e5bb6ff",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "coffee",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "modelIndex": 2,
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b2c4d102-1bf8-4359-9528-2975792194b8",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "coffee",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.modelSelector",
      "typeVersion": 1,
      "position": [
        -208,
        224
      ],
      "id": "a8a03939-f63c-45a6-b49d-0a058d5e9944",
      "name": "Model Selector"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-audio-preview-2025-06-03",
          "mode": "list",
          "cachedResultName": "gpt-4o-audio-preview-2025-06-03"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -112,
        432
      ],
      "id": "6b70ef5d-c5c1-4db5-a5a7-c6524ed5b160",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JFV8h8FLMK6dxzrL",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini-audio-preview",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini-audio-preview"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -320,
        432
      ],
      "id": "e8eb6534-da55-4e0e-85aa-d5404810d8a0",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "JFV8h8FLMK6dxzrL",
          "name": "OpenAi account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Model Selector": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7758bd91-e656-40e0-801b-d1d3f203ebed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8707be5561da15d1b4c629faa0e4a9a6fdd4bfa66f8eb97220cf29c3050d7d3f"
  },
  "id": "z8zNOCewV0z5MbkK",
  "tags": []
}